# Core functionality - changes here should be rare!
/src/app.py                   @MyJourney24
/src/backend/database.py      @MyJourney24
/src/backend/routers/auth.py  @MyJourney24

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MyJourney24
